body {
    background-color: #94D1DB;
    font-family: 'Patrick Hand', cursive;
    -webkit-font-smoothing: antialiased;
}

html {
	margin:0;
}

header {
	background: white;
	padding: 30px;
	margin: -8px;
}
.menu {
	margin: 0;
	padding-left: 0; /* ul elementy maju same od seba lavy padding, zrusime */
	list-style: none; /* toto zrusi tie bodky v zoznamoch */
	text-align: center;
}

	.menu li,
	.menu a {
		display: inline-block; /* aby boli vedla seba */
		text-decoration: none;
		font-size: 15px;
		color: grey;
		font-weight: 600;
	
		background: white;
	}

	.menu a {
		margin: 0 5px;
		padding: 10px;
		}
a:hover,
a:focus {
    text-decoration: none;
    background-color: #da9391;
}
